html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  color: #24364b;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* =====================
   CONTAINER
===================== */

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 24px;
}

/* =====================
   HEADER
===================== */

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 120px;
}

.site-logo {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  gap: 1px;
}

.site-logo img {
  margin: 10px;
  width: 120px;
}

.site-logo span {
  font-size: 20px;
  font-weight: 700;
  color: #203525;
}

.site-menu {
  border: none;
  min-width: 500px;
  font-weight: 600;
  justify-content: flex-end;
}

/* =====================
   HERO
===================== */

.hero-section {
  background: #def8e5;
  height: 55vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  max-width: 1100px;
  text-align: center;
  padding: 80px 24px;
}

.hero-title {
  color: #203525 !important;
  font-size: 50px !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
}

.hero-description {
  max-width: 900px;
  margin: 40px auto 0;

  font-size: 18px;
  line-height: 1.9;
}

.hero-footer {
  max-width: 800px;
  margin-top: 50px;
  margin: 40px auto 0;
  color: #667085;
  font-size: 16px;
}

/* =====================
   SECTIONS
===================== */

.section-title {
  text-align: center;
  color: #203525 !important;
  margin-bottom: 80px !important;
}

section {
  width: 100%;
}

/* =====================
   KEY FACTS
===================== */

.key-facts-section {
  padding: 120px 0;
}

.key-fact-card {
  text-align: center;
  background: transparent !important;
  box-shadow: none !important;
  height: 100%;
}

.fact-icon {
  font-size: 60px;
  color: #203525;
  margin-bottom: 20px;
}

.fact-title {
  font-size: 28px;
  font-weight: 700;
  color: #203525;
  margin-bottom: 20px;
}

.fact-description {
  color: #203525;
  line-height: 1.8;
  font-size: 18px;
}

/* =====================
   IMPLEMENTATION
===================== */

.implementation-section {
  background: #def8e5;
  padding: 100px 0;
}

.image-placeholder {
  max-width: 900px;
  margin: 0 auto;

  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px dashed #ccd6e8;
}

.text-block {
  max-width: 800px;
  margin: 80px auto;
}

.text-block h2 {
  font-size: 25px;
  font-weight: 700;
  color: #203525;
  text-align: center;
}

.text-block p {
  font-size: 18px;
  line-height: 1.8;
}

.implementation-paragraph {
  font-size: 16px !important;
  line-height: 1.8;
}

/* =====================
   PARTNERS
===================== */

.partners-section {
  padding: 120px 0;
}

.logo-grid-card {
  width: 180px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px dashed #c7d3e8;
}

.partner-card {
  margin: 80px 0;
}

.partner-logo-box {
  height: 150px;
  width: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-logo-image {
  max-width: 50px;
  max-height: 50px;
}

.partner-card h2 {
  color: #203525 !important;
  margin-bottom: 24px !important;
}

.partner-card h3 {
  margin-top: 32px;
}

.partner-card ul {
  padding-left: 20px;
}

.partner-card li {
  line-height: 2;
  color: #203525;
}

/* =====================
   FUNDING
===================== */

.funding-section {
  background: #def8e5;
  padding: 80px 20px 100px;
  text-align: center;
}

.funding-section h2 {
  color: #203525;
  font-size: 35px;
  font-weight: 650;
  margin-bottom: 30px;
}

.funding-description {
  max-width: 850px;
  margin: 0 auto 40px !important;
  font-size: 16px;
  line-height: 1.7;
  color: #2e3d4f;
}

.funding-logo {
  max-width: 240px;
  margin: 0 auto 30px;
  padding: 10px;
}

.funding-image {
  width: 100%;
  height: auto;
  display: block;
}

.funding-details {
  width: fit-content;
  margin: 0 auto;
  font-size: 15px;
  text-align: left;
}

.detail-row {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
}

.detail-row strong {
  color: #24539b;
  font-weight: 700;
}

/* =====================
   FOOTER
===================== */

.footer {
  background: #fff;
  padding: 50px 0 30px;
}

.footer-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  align-items: flex-start;
}

.footer-links {
  margin-left: 80px;
  display: flex;
  gap: 30px;
}

.footer-contact {
  margin-left: auto;
  text-align: left;
  color: #667085;
  line-height: 1.8;
  max-width: 350px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.footer-logo img {
  width: 50px !important;
  height: 50px !important;
  min-width: 100px;
  max-width: 100px;
  object-fit: contain;
  display: block;
}


.footer-logo h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #203525;
}



.footer-links a {
  margin: 12px;
  color: #249b6d;
  text-decoration: none;
  font-size: 16px;
}

.footer-contact a {
  color: #249b6d;
  text-decoration: none;
}

.footer-bottom {
  max-width: 1280px;
  margin: 40px auto 0;
  padding: 25px 30px 0;
  border-top: 1px solid #d9dee6;
  color: #667085;
  font-size: 14px;
}

/* =====================
   RESPONSIVE
===================== */

@media (max-width: 900px) {
  .site-header {
    padding: 0 24px;
  }

  .hero-title {
    font-size: 42px !important;
  }

  .hero-description {
    font-size: 18px;
  }

  .fact-title {
    font-size: 24px;
  }

  .text-block p {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 32px !important;
  }

  .site-menu {
    display: none;
  }

  .footer-content {
    flex-direction: column;
    gap: 24px;
  }

  .footer-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .footer-contact {
    margin-left: 0;
    max-width: 100%;
  }

  .detail-row {
    flex-wrap: wrap;
  }
}